body {
  background-color: #4e73df;
}

.box-area {
  width: 930px;
}

.back-to-home {
  color: #4e73df;
  text-decoration: none;
}


.btn {
  font-size: 20px !important;
  display: block;
  width: 50%;
  height: 50px;
  background-color: #4e73df;
  outline: none;
  cursor: pointer;
  margin: 20px 110px 10px;
  border-radius: 10px;
  letter-spacing: 1px;
}