.navbar {
  background-color: #fff !important;
}

.nav-link {
  color: black !important;
}

.btn-masuk {
  background-color: #486189;
  color: white;
  border: 1px solid white;
}

.btn-masuk {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-masuk:hover {
  background-color: #4e73df;
  color: white;
  border: 2px solid black;
}

.baner {
  padding: 40px;
}

.baner,
h1 {
  background-color: #4e73df;
  /* background-color: #aab8db; */
  color: white;
}

/* Bagian Panel */
.info-panel {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-top: -70px;
  background-color: white;
  padding: 20px;
  padding-left: 100px;
}

.info-panel img {
  width: 40px;
  height: 40px;
  margin-bottom: -50px;
  margin-left: 10px;
}

.info-panel h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

/* Akhir Bagian Panel */

body {
  height: 1000px;
}

/* Awal About */
.about {
  background-size: cover;
  color: black;
  background-position: center;
  position: relative;
}

.about-us {
  margin-top: 90px;
  margin-bottom: 120px;
  text-align: center;
}

.about-us h3 {
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 30px;
}

.about-us h3 span {
  font-weight: 500;
  color: orange;
  text-shadow: 2px 2px #000;
}

/* Akhir About */

.card {
  border: #000;
}

.card h5 {
  color: orange;
  text-shadow: 1px 1px #000;
}

.footer {
  background-color: #4e73df !important;
}

@media screen and (max-width:680px) {

  /* Bagian Panel */
  .info-panel {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: -70px;
    background-color: white;
    padding: 25px;
    width: 350px;
  }

  .info-panel h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 6px;
  }

  /* Akhir Bagian Panel */
}